{% extends 'base.html' %}
{% block name %} {{request.user.first_name}} {% endblock %}

{% block content %}
	<center>
			<div class="container"style="height: 200px;width: 50%;">		 	
				<div class="header">		 	
							<h1 style="font-family: 'Oswald', sans-serif;">Chat with Users</h1>
					</div> 
				{% for user in users %}
						{% if user != current %}   
						<div class="user"> 	
							<a href="{% url 'WMMessage:messages_thread' pk=user.pk %}">{{user.first_name}} {{user.last_name}}</a>
						</div>
				{% endif %}
				{% endfor %}		
				</div>
		</center>
{% endblock %}